<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Youtube video 2 audio converter</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
</head>
<body class="container">
<div class="container-fluid">
    <form class="navbar-form navbar-default" action="direct">
        <p class="navbar-text">Paste Youtube video link</p>
        <div class="form-group">
            <input class="form-control" type="text" name="url"
                   value="https://www.youtube.com/watch?v=RDWmfJazWls"/>
            <input class="btn btn-submit" type="submit" id="submit"/>
        </div>
    </form>
</div>
</body>
</html>